.header
  padding-top 16px
  
h1
  font-size 16px
  text-transform uppercase
  text-align center

.page-wrapper
  max-width 500px
  margin 48px auto
  background white
  padding-bottom 48px

.ingredients
  list-style none
  padding 0
  margin 0
  display flex
  flex-direction column

.ingredient
  height 48px
  border-bottom 1px solid #e8e8e8
  padding-top 15px
  box-sizing border-box
  text-align center