.login-form-wrapper
  box-sizing border-box
  background white
  width 300px
  height 294px
  padding 16px
  margin auto
  position absolute
  top 0
  right 0
  bottom 0
  left 0
  
.validation-message
  position absolute
  top 189px
  display inline-block
  
.hint
  margin
  span 
    color grey